/node_modules
/public/build
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/.vscode
/.idea
/storage/framework/cache/data/*
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/logs/*.log
/backend/node_modules
/backend/vendor
/backend/.env
/frontend/node_modules
/frontend/dist
/frontend/.env
*.js.map
*.vue.js
